{% load cms_tags sekizai_tags menu_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Case Studies</title>
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    {% render_block "css" %}
</head>
<body>
    {% cms_toolbar %}
    <main>
<div class="blog-page">
            <h1>Blog Page</h1>
            <section class="article-section">
                <h2>Latest Digital Marketing Articles</h2>
                <div class="categories">
                    <span>Categories: SEO, PPC, Social Media, Content Marketing</span>
                </div>
                <div class="article-list">
                    <article class="blog-article">
                        <h3>Article Title 1</h3>
                        <p>article content</p>
                        <a href="#" class="read-more">Read More</a>
                        {% block content2 %}
                        {% placeholder "content2" %}
                        {% endblock content2 %}
                    </article> 
                    <article class="blog-article">
                        <h3>Article Title 2</h3>
                        <p></p>
                        <a href="#" class="read-more">Read More</a>
                        {% block content3 %}
                        {% placeholder "content3" %}
                        {% endblock content3 %}
                    </article>
                </div>
            </section>
            <section class="author-section">
                <h2>Meet the Authors</h2>
                <div class="author-list">
                    <div class="author">
                        <img src="{% static 'images/author1.jpg' %}">
                        <h3>Author 1</h3>
                        <p></p>
                    </div>
                    <div class="author">
                        <img src="{% static 'images/author2.jpg' %}">
                        <h3>Author 2</h3>
                        <p></p>
                    </div>
                </div>
            </section>
            <div class="blogs">
                <div class="blog1">
                    <img src={% static '' %}>
                    <p>Digi range is one of the most rewived Digital Marketing company</p>
                </div>
                <div class="blog1">
                    <img src={% static '' %}>
                    <p>organizing a summit in T-Hub</p>
                </div>
                <div class="blog1">
                    <img src={% static '' %}>
                    <p>Launching our new service Property management</p>    
                </div>  
            </div>
        <div class="About-Blogs">
        <div class="About-Blog">
            <h1>About Your Digital Success</h1>
            <p>Save  your time ,energy resources.if you are looking for Digital marketing we are here to to solve your business strategy please reach us we will discuss and solve your problem.</p>
            <button type="proposal-button">get a proposal.</button> 
        </div>
        <div class="lead-talk">
            <h2> Joseph</h2>
            <h3>Marketing lead</h3>
            <ol>Meta Certified Lead Trainer</ol>
            <ol>12x Facebook Blueprint Certified</ol>
            <ol>6x Google Ads & Microsoft Ads Certified</ol>
            <ol>6x The Trade Desk Programmatic Certified</ol>
            <ol>Google Analytics & Google Tag Manager Certified</ol>
        </div>
        </div>
</div> 
    </main>
</body>
</html>
